<div class="action_list">
  <button class="action" (click)="onAddStaff()">
    <mat-icon aria-hidden="false" aria-label="Node" class="add_icon">add_circle_outline</mat-icon>
    <div>Thêm mới</div>
  </button>
  <button class="action" [disabled]="!isStaffSelected" (click)="onEditStaff()">
    <mat-icon aria-hidden="false" aria-label="Node" class="edit_icon">edit_square_outline</mat-icon>
    <div>Chỉnh sửa</div>
  </button>
  <button class="action">
    <mat-icon aria-hidden="false" aria-label="Node" class="delete_icon">delete_outline</mat-icon>
    <div>Xóa</div>
  </button>
  <button class="action">
    <mat-icon aria-hidden="false" aria-label="Node" class="save_icon">save_outline</mat-icon>
    <div>Lưu</div>
  </button>
  <button class="action">
    <mat-icon aria-hidden="false" aria-label="Node" class="search_icon">search_outline</mat-icon>
    <div>Tìm kiếm</div>
  </button>
</div>