:host {
  flex: 1
}


.heading {
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
  margin-bottom: 4px;
  background-color: lightgray;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.heading-wrapper {
  padding-right: 6px;
}

mat-grid-tile {
  font-size: 12px;
  padding: 0px;
}

mat-grid-tile-header {
  font-size: 12px;
  font-weight: bold;
}

.form_field {
  display: flex;
  gap: 1rem;
  font-weight: bold;

  label {
    width: 6.5rem;
  }

  .inner-label {
    font-weight: normal;
  }

  input {
    font-size: 12px;
    width: 7rem;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 2px;
  }

  select {
    @extend input;
    width: 7.5rem;
  }

  // input:disabled,
  // textarea:disabled,
  // select:disabled {
  //   background-color: inherit;
  //   color: inherit;
  //   opacity: 1;
  //   pointer-events: none;
  //   border-color: inherit;
  // }

  #employeeId {
    background-color: gainsboro;
  }
}


.measurement {
  align-items: center;
  height: 2rem;
  font-size: 12px;
  font-size: 12px;
  gap: 0.5rem;
  @extend .form_field;
  label {
    width: 4rem;
  }
  input {
    width: 4rem;
  }
}

.split {
  display: flex;
  gap: 1rem;

  .column {
    flex: 1;
    width: 50%
  }
}

.ordinal_number {
  background-color: whitesmoke;
  width: 16px;
}

th,
td {
  font-size: 12px;
  padding: 4x;
  text-align: center;
}

td {
  border: 1px solid lightgray;
}

th {
  background-color: gainsboro !important;
  border-bottom: 1px solid gainsboro !important;
}

tr {
  height: 2rem;
}

.info-section {
  margin-bottom: 1rem;
}

.lower {
  padding-top: 16px
}