:host {
  flex: 1
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 100%;
  }

  padding: 0 4px 0 4px;
}

.heading {
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
  margin-bottom: 4px;
  background-color: lightgray;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.title {
  @extend .heading;
  background-color: inherit;
  padding-left: 10px;
  padding-right: 10px;
}

.heading-wrapper {
  padding-right: 6px;
}

mat-grid-tile {
  font-size: 12px;
  padding: 0px;
}

mat-grid-tile-header {
  font-size: 12px;
  font-weight: bold;
}


.form_field {
  display: flex;
  gap: 1rem;
  font-weight: bold;
  font-size: 12px;

  label {
    width: 7rem;
  }

  .inner-label {
    font-weight: normal;
  }

  input {
    font-size: 12px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 2px;
  }

  select {
    @extend input;
    width: 100%;
  }

  #employeeId {
    background-color: gainsboro;
  }
}


.sub_form_field {
  display: flex;
  gap: 1rem;
  font-weight: bold;
  font-size: 12px;
  height: 1.2rem;

  label {
    width: 5rem;
  }

  .inner-label {
    font-weight: normal;
  }

  input {
    font-size: 12px;
    width: 8rem;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 2px;
  }

  #employeeId {
    background-color: gainsboro;
  }
}

button.x_button {
  width: 1rem;
}


.measurement {
  align-items: center;
  height: 2rem;
  font-size: 12px;
  font-size: 12px;

  @extend .form_field;

  input {
    width: 4rem;
    padding: 2px;
  }
}

.split {
  display: flex;
  gap: 1rem;

  .column {
    flex: 1;
    width: 50%
  }
}

.ordinal_number {
  background-color: whitesmoke;
  width: 16px;
}

th,
td {
  font-size: 12px;
  padding: 4x;
  text-align: center;
}

td {
  border: 1px solid lightgray;
}

th {
  background-color: gainsboro !important;
  border-bottom: 1px solid gainsboro !important;
}

tr {
  height: 1rem;
}

.info-section {
  margin-bottom: 1rem;
}

.lower {
  padding-top: 16px
}


.actions {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;

  button.warning {
    background-color: white;
  }
}

button {
  background-color: ivory;
  border: 2px solid lightgray;
  padding: 2px;
  min-width: 6rem;
  font-weight: bold;
  border-radius: 2px;
}

.form_array {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem
}